body{
    background-color: rgb(240, 240, 240);
}
.bi{
    height: 25px;
    width: 25px;  
    cursor: pointer; 
}
.search{
    border-radius: 10px;
    border-style: none;
    background-color: #E7F3FF;
    color: black;
    margin: 7px 0px 0px 20px;
}
.flexbox-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.flexbox-item-3{
    margin-right: 20px;
}
.nav-options{
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin-top: 5px;
}
.left-bar-options , .shortcut{
    list-style: none;
    margin: 15px;
    position: relative;
    line-height: 50px;
    border-bottom: 2px solid grey;
    width: 20%;
}
.left-bar-options > li {
    height: 60px;
    width: 300px;
    padding-top: 18px;
}
.left-bar-options > li:hover , .shortcut > li:hover {
    background-color: #E7F3FF;
    border-radius: 10px;
    cursor: pointer;
}
.more-options > li{
   list-style-type: none;
   position: relative;
   top: 100px;
   display:inline-flex;
   margin: 5px;
}



.flexbox-container-2{
    display: flex;
    position: relative;
}
.flexbox-item-21{
    position: relative;
    right: 300px;
}
.flexbox-item-22{
    margin-top: 20px;
    position: relative;

}
.flexbox-item-22 > div > img{
    width: 100px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;
}
.what-you-think{
    width: 515px;
    position: relative;
    left: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.personal-update{
    list-style-type: none;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    height: 50px;
}
.personal-update > li:hover {
    cursor: pointer;
    background-color: grey;
    border-radius: 5px;
}
.self{
    background-color: rgb(218, 213, 213);
    width: 550px;
    padding-top: 7px;
    border-radius: 10px;
}
.flexbox-item-23{
    position: relative;
    left: 250px;
}
.card-img{
    width: 300px;
    height: 200px;
}
.card{
    border-bottom: 2px solid grey;
    margin: 5px 0px 5px 0px;
    padding-bottom: 20px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    background-color: rgb(240, 240, 240);
}
.card-img-overlay > h1 {
    color: red;
    font-size:larger;
}
.wolf{
    height: 200px;
    width: 200px;
}
.advert{
    display:inline-flex;
    margin-top: 50px;
}
.advert-details{
    position: relative;
    top: 60px;
}
.use-link {
    text-decoration: none;
    color: blueviolet;
}  
.friend-names{
    list-style-type: none;
} 
.friend-names > li{
    padding: 10px 0px;
}
.friend-names >li:hover{
    background-color: grey;
}
@media only screen and (max-width: 1700px) {
    .flexbox-item-21 {
      right: 65px;
    }
    .flexbox-item-23{
        left: 70px;
    }
}
@media only screen and (max-width: 1401px) {
    .flexbox-item-23{
        left: 10px;
    }
}
@media only screen and (max-width: 1401px) {
    .flexbox-item-23{
        display: none;
    }
}
@media only screen and (max-width: 1000px) {
    .flexbox-item-21{
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    .nav-options-hide{
        display: none;
    }
}